.activity-section {
  padding-top: 0;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.activity-section__list {
  display: flex;
  margin-top: 50px;
}

.activity-picture {
  position: relative;

  width: 370px;
  margin-left: 30px;

  &:first-child {
    margin-left: 0;
  }
}

.activity-picture__box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(47, 48, 58, 0.8);
}

.activity-picture__caption {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
}
