.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;

  margin-top: 50px;
}

.clients__item {
  margin-left: 30px;

  &:first-child {
    margin-left: 0;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  background-color: var(--white-color);
  outline: transparent;

  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
