.footer {
  padding: 60px 0;

  background-color: var(--background-dark-color);
}

.footer__flex {
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: left;
    align-items: baseline;
  }
}

.footer__wrap {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.address {
  margin-top: 20px;
  @media screen and (max-width: 767.5px) {
    margin-bottom: 60px;
  }
}

.address__item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address__link {
  color: var(--footer-contacts-color);

  line-height: 1.72;
  text-decoration: none;
  font-style: normal;

  transition: color 250ms var(--timing-function);

  &[target='_blank'] {
    color: var(--white-color);
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__social {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer__title {
  line-height: 1.14;
  color: var(--white-color);
  text-transform: uppercase;

  display: block;
  margin-bottom: 20px;
}

.social-networks__link--footer {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--timing-function);
}

.social-networks__icon--footer {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.footer__subscribe {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.form-box {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-form {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 450px;
    margin: 0 auto 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    margin: 0;
  }
}

.footer-form__input {
  font-size: 16px;
  color: var(--white-color);

  width: 100%;
  margin: 0;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: transparent;

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-button {
  display: inline-flex;
  align-items: center;
  border: none;

  padding: 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--button-hover-color);
  }

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.subscribe-button__icon {
  margin-left: 10px;
}
