.hero {
  height: 400px;
  // height: 600px;
  // max-width: 1600px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  // padding: 200px 0;
  padding: 118px 0;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/office.jpg);
  background-position-x: center;
  background-color: #c4c4c4;

  text-align: center;
}

.hero__container {
  // width: 696px;
  max-width: 360px;

  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  margin: 0 0 30px 0;

  color: var(--white-color);
  font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

.hero__button {
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;

  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--button-hover-color);
  }
}
