.team {
  background-color: var(--background-grey-color);
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin: -15px -15px -15px -15px;
  }
}

.team-card {
  background-color: var(--white-color);

  margin-bottom: 30px;
  max-width: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-width: 767.5px) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
  }
}

.team-card__signature {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding: 30px 32px;
  }
}

.team-card__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-card__position {
  margin-top: 0;
  margin-bottom: 16px;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-networks {
  display: flex;
  justify-content: center;
}

.social-networks__item {
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.social-networks__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: #afb1b8;
  background-color: var(--white-color);

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
  }
}

.social-networks__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
